<!-- start navigation -->
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand" style="padding-top:10px;"><span style="font-size:30px; line-height:40px; color:lightblue; font-wheight:bold; font-family: 'Comic Sans MS','Times New Roman', Times, serif;">G Kotan</span>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li onclick="location.href='/#portfolio';"><a style="cursor:pointer;" class="smoothScroll">Paylaşılanlar</a></li>
						<li onclick="location.href='/#contact';"><a style="cursor:pointer;"  class="smoothScroll">Hakkında</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end navigation -->

		
	